<app-loading *ngIf="isLoading"></app-loading>
<canvas #myCanvas></canvas>
<video #myVideo></video>
<div class="action">
  <button class="take-picture" (click)="takePicture(myCanvas, myVideo)" *ngIf="!isLoading && cameraAutorized"><span class="material-icons">camera</span></button>
</div>

<div class="modal" #myModal>
  <div class="modal-content">
    L'application a besoin de votre autorisation pour fonctionner.
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat activate" (click)="goToHome()">Okay</a>
  </div>
</div>
