.ta-c{
    text-align: center;
}

i.icon-folder-color {
    color: rgba(255, 187, 0, 0.513);
}

.folder-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu{
    background-color: rgb(231, 231, 235);
    padding: 1rem 0;
}
