<!-- <div class="row">
  <div class="col s2 offset-s10"> -->
<app-add-folder-btn></app-add-folder-btn>
    <!-- </div> -->
    <!-- <div class="col s2">
        <app-delete-folder-btn [folderName]="folder.name"></app-delete-folder-btn>
    </div> -->
<!-- </div>
<br> -->
<!-- <div class="container">
    <div class="row">
        <div class="col s6 m4" *ngFor="let folder of folderList">
            <div class="card-panel teal" (click)="goToReceiptList(folder.name)">
                {{folder.name}}
                <a class="waves-effect waves-teal btn-flat">{{folder.name}}</a>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row ta-c">
        <div class="col s3" *ngFor="let folder of folderList">
            <div (click)="goToReceiptList(folder.name)">
                <i class="material-icons icon-folder-color medium">folder</i>
                <div class="folder-name">{{folder.name}}</div>
            </div>
            <app-delete-btn (click)="deleteFolder(folder.name)"></app-delete-btn>
        </div>
    </div>
</div>
<app-camera-btn (click)="goToCamera()"></app-camera-btn>
