<a class="btn-floating btn-flat waves-effect waves-light green modal-trigger" href="#modal1" (click)="changeErrorMessage()"><i
  class="material-icons">create_new_folder</i></a>

<!-- Modal Structure -->
<div id="modal1" #myModal class="modal">
<div class="modal-content">
<h5>Folder name: </h5>
<div class="input-field col s6">
    <input #myInput type="text" [(ngModel)]="newFolderName" (ngModelChange)="changeErrorMessage()"
        placeholder="Nom du dossier"/>
</div>
<p class="error-color" *ngIf="errorMessage">{{errorMessage}}</p>
</div>
<div class="modal-footer">
  <button (click)="addFolder()" [disabled]="errorMessage || !myInput.value"
      class="modal-close waves-effect waves-green btn-flat">Ok</button>
</div>
</div>

<div class="container">
    <div class="row ta-c">
        <div class="col s3" *ngFor="let folder of folderList">
            <div (click)="goToReceiptList(folder.name)">
                <i class="material-icons icon-folder-color medium">folder</i>
                <div class="folder-name">{{folder.name}}</div>
            </div>
            <a class="btn-floating green" (click)="deleteFolder(folder.name)"><i class="material-icons">delete</i></a>
        </div>
    </div>
</div>

<div class="action">
  <button class="take-picture" (click)="goToCamera()"><span class="material-icons">camera</span></button>
</div>



